{% extends 'layouts/base.html' %}
{% load humanize %}
{% block title %}Homepage - {{ block.super }}{% endblock %}
{% block content %}
    <h1>{{ post.name }}</h1>
    <p>{{ post.description }}</p>
    {% if user == post.user %}
        <p>
            <a href="{% url 'edit_post' slug=post.slug %}">
                Edit me!
            </a>
        </p>

        <p>
            <a href="{% url 'create_article' slug=post.slug %}">
                Create article
            </a>
        </p>
    {% endif %}
{% endblock %}
            
            